<a href="https://colab.research.google.com/github/shk0349/pythonstudy24/blob/master/BaseType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Programming 기초, 자료형

1. 숫자형
2. 문자열
3. 리스트
4. 튜플
5. 딕셔너리
6. 집합
7. 불

In [11]:
# 숫자형, 정수형, 실수형, 진수형이 있다.

# 정수형(Integer) : 양의 정수와 음의 정수, 숫자 0을 변수에 대입
# 예시
a = 123    # 양의 정수
b = -123    # 음의 정수
c = 0    # 숫자 0

# 실수형(Floating-Point) : 소수점이 포함된 숫자
# 예시
d = 1.2
e = -3.45

# 지수 표현방법 : 많은 수치를 짧게 표현
# 예시
f = 4.24E10    # 4.24 * 10^10
g = 4.24e-10    # 4.24 * 10^-10

# 진수 표현방법
# 8진수 (Octal) -> 숫자 0에 알파벳 o(대소문자 둘다 가능)
# 예시
h = 0o177    # 177 8진수

# 16진수 (Hexadecimal) -> 숫자 0에 알파벳x
# 예시
i = 0x8ff    # 8ff 16진수 // 10부터는 a로 시작함

숫자형을 활용하기 위한 연산자

1. 사칙연산 : +, -, *, /
2. 우선순위 : 괄호 -> *, / -> 앞쪽

In [5]:
a = 3
b = 4
a + b

7

In [6]:
a - b

-1

In [7]:
a * b

12

In [8]:
a / b

0.75

In [9]:
# 제곱 처리하는 방법 (**)
# 예시
a ** b    # a의 b 제곱 a^b

81

In [10]:
# 나머지 처리하는 방법 (%)
# 예시
7 % 3

1

In [13]:
# 나눗셈 후 몫을 리턴하는 방법 (//)
# 예시
7 // 4

1

In [14]:
# 복합 연산자 +=, -=, *=, /=, //=, %=, **=
# 예시
a = 1
a = a + 1
print(a)

a += 1    # a = a + 1
print(a)

2
3

In [17]:
# 문자열 자료형 (String) : 연속된 문자들의 나열 "" 큰따옴표
# 예시

# 큰따옴표
"Hello World"

# 작은따옴표
'Hello World'

# 큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기
"""Hello World"""

# 작은따옴표 3개를 연속으로 써서 양쪽 둘러싸기
'''Hello World'''

food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [19]:
# 문자열 출력 시 큰따옴표를 보여주고 싶을 경우
# 예시
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [20]:
# escape 문자 활용하기 \n  \t  \r  \\ 등
# 예시
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

In [21]:
# 여러줄로 출력 \n 엔터 효과
# 예시
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [22]:
# 여러줄로 출력이 가능한 """
# 예시
multiline = """
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

# escape 코드 종류

* \n : 줄 변경
* \t : Tab
* \\ : \ 출력
* \' : ' 출력
* \" : " 출력
* \r : 캐리지 리턴(과거의 타자기 효과 : 커서를 현재 줄 맨 앞으로 보내라)
* \f : 폼피드(줄 바꿈 문자, 커서를 현재줄의 다음 줄로 이동)
* \a : 벨소리(출력 시 삑 소리가 남)
* \b : 백스페이스
* \000 : Null 문자

In [23]:
# 문자열 연산자 (문자열을 더하거나 곱할 수 있음)
# 문자열 덧셈 예시
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [25]:
# 문자열 곱셈 예시
body = "Python "
body * 5

'Python Python Python Python Python '

In [28]:
# 예시
print("=" * 25)
print("Welcome To Python World")
print("=" * 25)

=========================
Welcome To Python World
=========================

In [30]:
# 문자열의 길이를 구하라
# 예시
a = "Life is too short"
len(a)    # 문자열의 길이를 구하는 Method

17

In [36]:
# 문자열 인덱싱, 슬라이싱
# 문자열은 문자를 배열로 만들어 놓은 것(0번 인덱스부터 적용됨)

# 인덱싱 예시 1
a = "Life is too short. You need Python"
a[16]

't'

In [37]:
# 인덱싱 예시 2
a[-1]     # 문자열을 뒤에서부터 읽기 위해서 -를 붙힌다.

'n'

In [40]:
# 인덱싱 예시 3
a[-34]

'f'

In [53]:
# 문자열 추출하기
# 예시
b = a[0]+a[1]+a[2]+a[3]
b

'Life'

In [52]:
# 슬라이싱 기법 예시 1
a[0:4]    # 문자열 a의 0번에서 4번 앞까지 슬라이싱

'Life'

In [51]:
# 슬라이싱 기법 예시 2
a[12:17]

'short'

In [50]:
# 슬라이싱 기법 예시 3
a[19:]    # 문자열 a의 19번째부터 끝까지 슬라이싱

'You need Python'

In [ ]:
# 슬라이싱 기법 예시 4
a[:19]    # 문자열 a의 처음부터 19번째까지 슬라이싱

In [49]:
# 슬라이싱 기법 예시 5
a[:]    # 문자열 a의 처음부터 끝까지 슬라이싱

'Life is too short. You need Python'

In [54]:
# 슬라이싱 활용 예제 1
a = "20010331Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20010331
Rainy

In [56]:
# 슬라이싱 활용 예제 2
a = "20010331Rainy"
year = a[:4]
month = a[4:6]
day = a[6:8]
print(year+'년 ' + month + '월 ' + day + '일 날씨는 ' + weather + '입니다.')

2001년 03월 31일 날씨는 Rainy입니다.

In [60]:
# pithon이라는 문자열을 생성 했을 경우 해당 문자열을 python으로 교체하라
a = "pithon"
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [63]:
b = "Pithon"
c = b[:1] + 'y' + b[2:]
c    # str type은 수정불가하며, method를 활용하거나 위 예시처럼 문자열을 쪼개서 붙여야한다.

'Python'

In [64]:
# 문자열 포맷팅 -> Java에서 Printf와 같은 기능(동적 출력을 위한 기능으로 "" 안에 정수나 문자열 등을 추가할 때 활용)
# 예시 1
"I eat %d apples." % 3    # %d는 포맷팅 코드라고 불리우며, 마지막에 있는 %는 동적 값을 삽입한다.

'I eat 3 apples.'

In [65]:
# 예시 2
"I eat %s apples." % "five"    # %s는 문자열이 동적으로 삽입되며, 마지막에 % 뒤에는 문자열을 넣어야하므로 "", '' 처리를 해야한다.

'I eat five apples.'

In [66]:
# 예시 3
number = 3
"I eat %d apples." % number   # number는 3이란 정수로 정의되어있기 때문에 %d 사용해야한다.

'I eat 3 apples.'

In [67]:
# 예시 4
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)    # 동적 매개 값을 2개 이상 넣고 싶으면 괄호 안에 , 로 구분하여 넣어야하며, 순서와 타입은 맞춰야한다.

'I ate 10 apples. so I was sick for three days.'

*   %s : 문자열(String)
*   %d : 정수(Integer)
*   %c : 문자(Character / 문자 1개)
*   %f : 실수(부동소수점)
*   %o : 8진수
*   %x : 16진수

In [68]:
# Python의 장점 / %s는 정수나 실수를 자동으로 문자열로 타입을 변경한다.
# 예시 1
"I have %s apples" % 3

'I have 3 apples'

In [69]:
# 예시 2
"I have %s apples" % 3.234

'I have 3.234 apples'

In [71]:
# 문자열 안에 %를 넣고 싶을 경우 -> Error is 98%.
"Error is %d%%." % 98    # 확률을 출력할 때 %는 예약어로 %%로 해야 문자열이 처리됨

'Error is 98%.'

In [74]:
# 포맷팅 숫자 처리(문자는 기본적으로 왼쪽 정렬, 숫자는 오른쪽 정렬)
# 예시
"%-10s MBC AI" % "hi"    # -10 : 문자열 10칸을 여백으로 생성하고, 그 안쪽에 문자를 왼쪽 정렬하여 넣음.

'hi         MBC AI'

In [79]:
# 소수점 포맷팅
"%10.4f" % 333333333333.141592    # .4는 소수점 4자리까지 출력(반올림), 정수쪽 10은 기본 자리수가 10자리지만, 넘치면 알아서 늘려준다.

'333333333333.1416'

In [80]:
# 포맷팅에 가독성을 높이기 위해서 .format()이라는 Method를 만들어 놓음...
# 예시 1
"I eat {0} apples".format(3)

'I eat 3 apples'

In [81]:
# 예시 2
"I eat {0} apples".format("five")

'I eat five apples'

In [82]:
# 예시 3
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [84]:
# 예시 4
number = 10
day = "three"
"I ate {1} apples. so I was sick for {0} days.".format(number, day)

'I ate three apples. so I was sick for 10 days.'

In [88]:
# 예시 5
"I ate {day} apples. so I was sick for {number} days.".format(number=10, day="three")

'I ate three apples. so I was sick for 10 days.'

In [90]:
# 예시 6
number = 10
"I ate {day} apples. so I was sick for {0} days.".format(number, day="three")

'I ate three apples. so I was sick for 10 days.'

In [93]:
# 예시 7
"MBC AI {0:<10} Python".format("hi")

'MBC AI hi         Python'

In [ ]:
# 예시 8
"MBC AI {0:^10} Python".format("hi")

In [98]:
# 예시 9
"{0:=^10}".format("hi")

'====hi===='

In [99]:
# 예시 10
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [102]:
# 소수점 표현하기
# 예시
y = 3.987654321
"{0:10.4f}".format(y)    # 총 자리 수 10자리 중에 소수점은 4자리로 출력(반올림)

'    3.9877'

In [103]:
# { 문자 } 출력하고 싶은 경우
# 예시
"{{ 문자 }}".format()    # 예약기호를 2번 연속 기입하면 문자형태로 출력 가능

'{ 문자 }'

In [118]:
# Python 3.6 이상 Ver의 최신 포맷팅 / .format() Method를 사용하지 않는 기법 -> 접두사로 f를 기입한다.
# 예시
name = "김수한"
age = 29
text=f"""저의 이름은 {name+'무 거북이와 두루미 삼천갑자111111'}입니다.
나이는 {age+2150}살 입니다."""
print(text)

저의 이름은 김수한무 거북이와 두루미 삼천갑자111111입니다.
나이는 2179살 입니다.

In [ ]:
# 딕셔너리를 활용한 포맷팅(key:value)
# 예시 1
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

In [120]:
# 예시 2
f'{"hi":<10}'

'hi        '

In [121]:
# 예시 3
f'{"hi":=^10}'

'====hi===='

In [125]:
# 예시 4
y = 3.42134234
f'{y:_>10.4f}'

'____3.4213'

In [126]:
# { 문자 }로 출력하고 싶은 경우 예시
f"{{ 문자 }}"

'{ 문자 }'