<a href="https://colab.research.google.com/github/shk0349/pythonstudy24/blob/master/DictionaryType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

딕셔너리 자료형

딕셔너리는 리스트나 튜플처럼 순차적으로 해당 요솟값을 구하지 않고 Key를 통해 Value값을 얻는다.

In [ ]:
# 딕셔너리 자료형 생성
# 예시
a = {'name' : 'pey', 'phone' : '010-9999-1234', 'birth' : '1118'}
a

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [ ]:
# 딕셔너리 쌍 추가
# 예시 1
a = {1 : 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [ ]:
# 예시 2
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [ ]:
# 예시 3
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [ ]:
# 딕셔너리 삭제 / 딕셔너리 요소 중 해당 key 값을 찾아 삭제하며, 이에 해당하는 value 값도 같이 삭제된다.
# 예시
del a[2]
a

{1: 'a', 'name': 'pey', 3: [1, 2, 3]}

In [ ]:
# 딕셔너리에서 Key 값을 사용하여 Value 값 얻기
# 예시 1
grade = {'pey' : 10, 'julliet' : 99}
grade['pey']

10

In [ ]:
# 예시 2
a = {1:'d', 1:'a', 1:'z'}     # key 값은 고유한 값이므로 중복된 key값을 설정할 시 맨 끝의 값을 제외한 나머지는 모두 무시된다.
a

{1: 'z'}

In [ ]:
# 예시 3
grade.get('pey')    # get함수를 이용하여 key 값으로 value 값 얻기

10

In [ ]:
# Key 리스트 만들기
# 예시
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}    # a의 key 값들만 리스트화
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [ ]:
# value 리스트 만들기
# 예시
a.values()    # a의 value 값들만 리스트화

dict_values(['pey', '010-9999-1234', '1118'])

In [ ]:
# key, value 값 쌍으로 얻기
# 예시
a.items()    # a의 Key : Value 를 리스트화

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [ ]:
# Key 값이 해당 딕셔너리에 존재하는지 조사
# 예시 1
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
'name' in a    # 존재할 경우 True 값 출력

True

In [ ]:
# 예시 2
'email' in a    # 존재하지 않을 경우 False 값 출력

False

In [ ]:
# 딕셔너리 안의 모든 요소 삭제하기
# 예시
a.clear()
a

{}