<a href="https://colab.research.google.com/github/shk0349/pythonstudy24/blob/master/ForExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For문 연습

For문은 while과 같은 반복문으로 차이점은 Max가 여부이다.

For문은 구구단과 같이 9라는 Max값이 있을 때 사용하며,

While문은 Max가 없지만 종료되는 시점(강제종료 : ctrl+c)을 만들어 제공한다.

For 변수 in 리스트 | 튜플 | 문자열:
    실행문 1
    실행문 2

Java의 향상 For문(ForEach문)과 같다.

In [1]:
# 전형적인 For문
# 예시
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [3]:
# 다양한 For문
# 예시 1
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [4]:
# 예시 2 / 총 5명의 학생이 시험을 보았는데, 시험 점수가 60점 이상이면 합격, 그렇지 않으면 불합격

marks = [90, 25, 67, 45, 80]    # 학생별 시험점수
number = 0    # 학생 출력 시 번호 지정
for mark in marks:    # 리스트에 있는 객체를 앞에서부터 1개씩 가져와 mark 변수에 넣음
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [5]:
# 예시 3 / for + continue
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue    # 점수하 60미만일때는 넘어감
    print("%d번 학생 축하합니다. 합격입니다." % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [7]:
# 예시 4 / for문과 같이 자주 쓰는 range()
a = range(10)    # 0부터 10미만 숫자를 포함하는 객체를 만들어줌
a

range(0, 10)

In [8]:
# 예시 5
a = range(1, 11)    # (시작값, 끝값) / 끝 숫자는 포함하지 않음
a

range(1, 11)

In [9]:
# 예시 6
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
# 예시 7
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number + 1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [11]:
# 예시 8 / 구구단
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end=" ")    # prind의 end 파라미터는 기본 엔터를 하지 않고 " " 넣는다.
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [12]:
# List 컴프리헨션 -> 결과를 List로 저장하는 기법
# List 컴프리헨션을 사용하지 않는 방법
# 예시
a = [1, 2, 3, 4]
result = []
for num in a:
    result.append(num*3)    # .append()를 사용하여 result에 값을 추가
print(result)

[3, 6, 9, 12]

In [13]:
# List 컴프리헨션 사용하기
# 예시 1
a = [1, 2, 3, 4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [14]:
# 예시 2 / 짝수만 3을 곱해서 리스트에 담아라
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [37]:
# 미션 / 커피 자판기를 리스트화 하여 for문으로 구현하라
# 커피 종류가 5개 이상(커피명, 수량, 단가)
# 사용자가 커피를 반복 구매 가능
# 관리자가 판매 종료 후 통계를 볼 수 있도록 한다.

menu = []    # 메뉴
price = []    # 가격
su = []    # 수량(default)
sell = []    # 판매수량(판매 시 1씩 증가 / default = 0)
auth = input("""
1. 관리자
2. 고객
3. 종료
""")
while True:
    if auth == '1':
        admin_menu = input("""
        1. 메뉴 추가
        2. 매출액 보기
        3. 처음으로
        """)
        if admin_menu == '1':
            for i in range(5):
                menu.append(input("메뉴명 : "))
                price.append(int(input("가격 : ")))
                su.append(int(input("수량 : ")))
                sell.append(0)
        elif admin_menu == '2':
            print("매출 결과")
            total_sell_price = 0
            for i in range(len(menu)):
                sell_price = price[i] * sell[i]
                total_sell_price += sell_price
                print("%s : %d잔" % (menu[i], sell[i]))
            print("매출액 : %d원" % total_sell_price)
        elif admin_menu == '3':
            auth = input("""
            1. 관리자
            2. 고객
            3. 종료
            """)
        else:
            print("잘못된 입력입니다.")
            continue
    elif auth == '2':
        guest_menu = input("""
        1. 메뉴 보기
        2. 메뉴 주문
        3. 처음으로
        """)
        if guest_menu == '1':
            for i in range(len(menu)):
                print("%s : %d원" % (menu[i], price[i]))
                continue
        elif guest_menu == '2':
            for i in range(len(menu)):
                print("%d. %s" % ((i+1), menu[i]))
            select_menu = input("메뉴 선택")
            if int(select_menu) <= len(menu):
                if sell[int(select_menu) - 1] >= su[int(select_menu) - 1]:
                    print("재고가 부족합니다.")
                    continue
                else:
                    pay = input("금액을 지불해주세요. %s 가격은 %d원 입니다." % (menu[int(select_menu) - 1], price[int(select_menu) - 1]))
                    if int(pay) > int(price[int(select_menu) - 1]):
                        sell[int(select_menu) - 1] = sell[int(select_menu) - 1] + 1
                        print("거스름돈은 %d원 입니다." % (int(pay) - price[int(select_menu) - 1]))
                    elif int(pay) == price[int(select_menu) - 1]:
                        sell[int(select_menu) - 1] = sell[int(select_menu) - 1] + 1
                        print("거스름돈은 없습니다.")
                    else:
                        print("금액이 부족합니다.")
                        continue
            else:
                print("잘못된 입력입니다.")
                continue
        elif guest_menu == '3':
            auth = input("""
            1. 관리자
            2. 고객
            3. 종료
            """)
        else:
            print("잘못된 입력입니다.")
            continue
    elif auth == '3':
        break
    else:
        print("잘못된 입력입니다.")
        auth = input("""
        1. 관리자
        2. 고객
        3. 종료
        """)

1. 관리자
2. 고객
3. 종료
1

        1. 메뉴 추가
        2. 매출액 보기
        3. 처음으로
        1
메뉴명 : 아메리카노
가격 : 1500
수량 : 30
메뉴명 : 콜드브루
가격 : 2000
수량 : 25
메뉴명 : 라떼
가격 : 2500
수량 : 15
메뉴명 : 캬라멜 마끼아또
가격 : 3500
수량 : 10
메뉴명 : 녹차
가격 : 3000
수량 : 30

        1. 메뉴 추가
        2. 매출액 보기
        3. 처음으로
        3

            1. 관리자
            2. 고객
            3. 종료
            2

        1. 메뉴 보기
        2. 메뉴 주문
        3. 처음으로
        1
아메리카노 : 1500원
콜드브루 : 2000원
라떼 : 2500원
캬라멜 마끼아또 : 3500원
녹차 : 3000원

        1. 메뉴 보기
        2. 메뉴 주문
        3. 처음으로
        2
1. 아메리카노
2. 콜드브루
3. 라떼
4. 캬라멜 마끼아또
5. 녹차
메뉴 선택1
금액을 지불해주세요. 아메리카노 가격은 1500원 입니다.2000
거스름돈은 500원 입니다.

        1. 메뉴 보기
        2. 메뉴 주문
        3. 처음으로
        2
1. 아메리카노
2. 콜드브루
3. 라떼
4. 캬라멜 마끼아또
5. 녹차
메뉴 선택1
금액을 지불해주세요. 아메리카노 가격은 1500원 입니다.1500
거스름돈은 없습니다.

        1. 메뉴 보기
        2. 메뉴 주문
        3. 처음으로
        2
1. 아메리카노
2. 콜드브루
3. 라떼
4. 캬라멜 마끼아또
5. 녹차
메뉴 선택1
금액을 지불해주세요. 아메리카노 가격은 1500원 입니다.1000
금액이 부족합니다.

        1. 메뉴 보기
        2. 메뉴 주문
        3. 처음으로
        2
1. 아메리카노
2. 콜드브루
3. 라떼
4. 캬라멜 마끼아또
5. 녹차
메뉴 선택2
금액을 지불해주세요. 콜드브루 가격은 2000원 입니다.5000
거스름돈은 3000원 입니다.

        1. 메뉴 보기
        2. 메뉴 주문
        3. 처음으로
        2
1. 아메리카노
2. 콜드브루
3. 라떼
4. 캬라멜 마끼아또
5. 녹차
메뉴 선택3
금액을 지불해주세요. 라떼 가격은 2500원 입니다.10000
거스름돈은 7500원 입니다.

        1. 메뉴 보기
        2. 메뉴 주문
        3. 처음으로
        3

            1. 관리자
            2. 고객
            3. 종료
            1

        1. 메뉴 추가
        2. 매출액 보기
        3. 처음으로
        2
매출 결과
아메리카노 : 2잔
콜드브루 : 1잔
라떼 : 1잔
캬라멜 마끼아또 : 0잔
녹차 : 0잔
매출액 : 7500원

        1. 메뉴 추가
        2. 매출액 보기
        3. 처음으로
        3

            1. 관리자
            2. 고객
            3. 종료
            3