<a href="https://colab.research.google.com/github/shk0349/pythonstudy24/blob/master/listtype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

테이블 자료 처리 : 각각의 객체를 모아서 처리하는 용도

*   리스트 자료형
*   튜플 자료형
*   딕셔너리 자료형
*   집합 자료형

In [ ]:
# 리스트 자료형 : 대괄호를 이용하여 감싸고 쉼표로 요소를 구분한다.
# 예시
odd = [1, 3, 5, 7, 9]    # Java의 배열과 유사하나 배열은 초기 행열값을 갖는다.(배열의 크기조정 불가) -> ArrayList

a = []    # 빈 리스트 / a = list() 도 생성가능
b = [1, 2, 3]    # 정수형 리스트
c = ['Life', 'is', 'too', 'short']    # 문자형 리스트
d = [1, 2, 'Life', 'is']    # 혼합형 리스트
e = [1, 2, ['Life', 'is']]    # 리스트의 리스트

In [3]:
# 리스트 인덱싱
# 예시 1
a = [1, 2, 3]
print(a[0])    # a 리스트의 0번 인덱스를 출력

1

In [4]:
# 예시 2
a[0] + a[2]

4

In [5]:
# 예시 3
a[-1]    # 마지막 요소값

3

In [12]:
# 예시 4
a = [1, 2, 3,['a', 'b', 'c']]
a[-1][2]    # 2차원 배열을 출력하려면 [행][열]

'c'

In [14]:
# 3차원 배열 -> 사진이나 영상 처리, 게임(가로x세로 -> 픽셀, 깊이 -> RGB컬러)
MEMBER = [["김기원", ["교사", 312]], ["김수한", ["학생1", 312]], ["김말똥", ["학생2", 311]], ["김개똥",["학생3", 313]]]
MEMBER[-1][-1][-1]

313

In [15]:
# 리스트 슬라이싱
# 예시 1
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [16]:
# 예시 2
a[:2]    # 처음부터 2번 인덱스 전까지

[1, 2]

In [17]:
# 예시 3
a[2:]    # 2번부터 마지막까지

[3, 4, 5]

In [20]:
# 예시 4
a=[1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [21]:
# 예시 5
a[3][1:]

['b', 'c']

In [25]:
# 리스트 연산 / +, *를 활용할 수 있다.
# 예시 1
a = [1, 2, 3]
b = [4, 5, 6]
a + b    # 문자열의 +계산과 유사함

[1, 2, 3, 4, 5, 6]

In [27]:
# 예시 2
(a * 3) + (b * 4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [31]:
# 리스트의 길이 구하기
# 예시
len(a + b)

6

In [34]:
# 리스트에 글자 추가하기
# 예시 1
a = [1, 2, 3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
# 예시 2
str(a[2]) + "hi"    # str(정수) -> 정수가 문자열로 변환

'3hi'

In [37]:
# 리스트 값 수정
# 예시
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [41]:
# 리스트 값 삭제
# 예시 1
del(a[2])    # del 명령어는 객체를 삭제하는 명령어
a

[1, 2]

In [42]:
# 예시 2
a = [1, 2, 3, 4, 5]
del(a[2:])    # remove, pop 함수도 제거용 함수이다.
a

[1, 2]

In [47]:
# 리스트 관련 함수 / .append() : 이미 만들어진 리스트에 객체를 추가할 때 사용
# 예시 1
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [48]:
# 예시 2
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [49]:
# sort() : 리스트 요소를 정렬 해준다.
# 예시 1
a = [1, 4, 3, 2]
a.sort()    # 오름차순 정렬
a

[1, 2, 3, 4]

In [50]:
# 예시 2
a.reverse()    # 내림차순 정렬
a

[4, 3, 2, 1]

In [52]:
# 예시 3
a = [6, "김말똥", 'a', '@']
a.sort    # 같은 type 일때만 정렬 가능
a

[6, '김말똥', 'a', '@']

In [53]:
# 예시 4
a.reverse    # 같은 type 일때만 정렬 가능
a

[6, '김말똥', 'a', '@']

In [54]:
# 예시 5
b = ['b', 'd', 'f', 'h', 'e']
b.sort()
b

['b', 'd', 'e', 'f', 'h']

In [55]:
# 예시 6
b.reverse()
b

['h', 'f', 'e', 'd', 'b']

In [56]:
# 예시 7
c = ["김소똥", "김말똥", "김개똥"]    # 한글도 정렬 가능
c.sort()
c

['김개똥', '김말똥', '김소똥']

In [57]:
# 예시 8
c.reverse()
c

['김소똥', '김말똥', '김개똥']

In [58]:
# 인덱스 반환 / .index(값)
# 예시 1
a = [1, 2, 3]
a.index(3)    # 값이 3인 인덱스를 반환

2

In [59]:
# 예시 2
a.index(1)

0

In [60]:
# 예시 3
a.index(4)

ValueError: 4 is not in list

In [61]:
# 리스트의 요소 삽입 / .insert(인덱스, 값)
# 예시 1
a = [1, 2, 3]
a.insert(0, 4)    # 0번 인덱스에 4를 삽입, 기존 값은 인덱스가 뒤로 밀린다.
a

[4, 1, 2, 3]

In [63]:
# 예시 2
a.insert(3, 5)    # 3번 인덱스에  5를 삽입, 기존 값은 인덱스가 뒤로 밀린다.
a

[4, 1, 2, 5, 3]

In [64]:
# 값 제거 / .remove(값)
# 예시 1
a.remove(3)    # .remove(값) 값이 제거된다.
a

[4, 1, 2, 5]

In [65]:
# 예시 2
b = [3, 3, 1, 5, 3, 5, 6]
b.remove(3)    # 제거하고자 하는 값이 복수로 있을 때 맨 앞 인덱스의 값만 제거
b

[3, 1, 5, 3, 5, 6]

In [66]:
# 예시 2
b.remove(3)     # 값을 순차적으로 하나씩 지움.
b

[1, 5, 3, 5, 6]

In [68]:
# 리스트 요소 끄집어 내기 / .pop(인덱스)
# 예시 1
c = [1, 2, 3, 4, 5, 6]
c.pop()

6

In [69]:
# 예시 2
c

[1, 2, 3, 4, 5]

In [70]:
# 예시 3
c.pop(3)

4

In [71]:
# 예시 4
c

[1, 2, 3, 5]

In [74]:
# 리스트 내 값이 몇개인지 확인 / .count(값)
# 예시 1
d = [3, 1, 5, 3, 6, 5, 3, 7, 1, 3]
d.count(3)

4

In [76]:
# 리스트 내 총 값의 숫자 확인 / len(리스트명)
# 예시
len(d)

10

In [80]:
# 리스트 확장 / extend(x) : x는 리스트만 올 수 있음.
# 예시 1
e = [1, 2, 3]
e.extend([4, 5])
e

[1, 2, 3, 4, 5]

In [81]:
# 예시 2
f = [6, 7, 8]
e.extend(f)
e

[1, 2, 3, 4, 5, 6, 7, 8]