<a href="https://colab.research.google.com/github/shk0349/pythonstudy24/blob/master/SetType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

집합 자료형

집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형이며, 아래와 같은 특징이 있다.

1. 중복을 허용하지 않는다.
2. 순서가 없다.

위 사유로 데이터의 중복을 제거하기 위한 필터로 사용됨.

In [2]:
# 집합 자료형 생성
# 예시 1
a = set([1, 2, 3])
a

{1, 2, 3}

In [6]:
# 예시 2
b = set("Hello")
b

{'H', 'e', 'l', 'o'}

In [8]:
# 집합 자료형 인덱싱 / 리스트나 튜플로 변환 후에 실행
# 예시 1
a = set([1, 2, 3])
lista = list(a)
lista[0]

1

In [10]:
# 예시 2
tuplea = tuple(a)
tuplea[1]

2

In [11]:
# 집합 자료형 교집합
# 예시 1
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 & s2

{4, 5, 6}

In [ ]:
# 예시 2
s1.intersection(s2)    # .intersection() 함수를 활용하여도 교집합을 구할 수 있음

In [12]:
# 집합 자료형 합집합
# 예시 1
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
# 예시 2
s1.union(s2)    # .union() 함수를 활용하여도 합집합을 구할 수 있음

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
# 집합 자료형 차집합
# 예시 1
s1 - s2

{1, 2, 3}

In [15]:
# 예시 2
s2 - s1

{7, 8, 9}

In [16]:
# 예시 3
s1.difference(s2)    # .difference 함수를 활용하여도 차집합을 구할 수 있음

{1, 2, 3}

In [17]:
# 예시 4
s2.difference(s1)    # .difference 함수를 활용하여도 차집합을 구할 수 있음

{7, 8, 9}

In [18]:
# 집합 자료형 값 추가
# 예시 1
a = set([1, 2, 3])
a.add(4)    # .add 함수를 이용하여 1개의 값을 추가할 수 있음
a

{1, 2, 3, 4}

In [19]:
# 예시 2
a.update([4, 5, 6])    # .update 함수를 이용하여 여러 개의 값을 추가할 수 있음
a

{1, 2, 3, 4, 5, 6}

In [20]:
# 집합 자료형 특정 값 제거
# 예시
a = set([1, 2, 3])
a.remove(2)    # .remove(값) 함수를 이용하여 특정 값을 삭제 할 수 있음
a

{1, 3}