<a href="https://colab.research.google.com/github/shk0349/pythonstudy24/blob/master/TupleType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

튜플 자료형

튜플은 리스트와 거의 유사함, 차이점은 ()로 둘러쌈

리스트는 CRUD가 가능하지만 튜플은 CR만 가능(읽기 전용)

Java의 Collections.unmodifiableList() 기능과 유사함.

https://velog.io/@clean01/Java-%EB%B3%80%EA%B2%BD%EC%9D%B4-%EB%B6%88%EA%B0%80%EB%8A%A5%ED%95%9C-Collection%EC%9D%84-%EB%A7%8C%EB%93%A4%EA%B8%B0-Immutable-Collection-Immutable-List

In [ ]:
# 튜플 생성하기
# 예시
t1 = ()    # 빈 객체
t2 = (1,)    # 1개의 요소만 가질 때 쉼표를 반드시 붙여야 함
t3 = (1, 2, 3)
t4 = 1, 2, 3    # 괄호()는 생략 가능
t5 = ('a', 'b', ('ab', 'cd'))    # 2차원 튜플

# 튜플과 리스트의 가장 큰 차이는 요솟값을 면화시킬 수 있는지에 대한 여부(튜플은 불가능)
# 프로그램이 실행되는 동안 요솟값이 항상 변하지 않기를 바란다면 튜플을 사용하면 됨

In [2]:
# 예시
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [3]:
# 예시
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [2]:
# 튜플 더하기
# 예시
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t0 = t1 + t2
print(t0)

(1, 2, 'a', 'b', 3, 4)

In [4]:
# 튜플 곱하기 / 곱한 횟수만큼 반복
t00 = t2 * 5
print(t00)

(3, 4, 3, 4, 3, 4, 3, 4, 3, 4)

In [5]:
# 튜플 길이 구하기
len(t1)

4